/* Header */
header {
  width: 100%;
  min-height: 400px;
  padding-top: 3em;
}
#home header {
  background: no-repeat lightgrey url(images/cliff_ocean.jpg);
  background-size: cover;
}
#cliffs header {
  background: no-repeat white url(images/forest_cliff.jpg);
  background-size: cover;
}
#activities header {
  background: no-repeat white url(images/runfly.jpg);
  background-size: cover;
}
#contact header {
  background: no-repeat white url(images/cliff_rock.jpg);
  background-size: cover;
  
}
#timeofday {
  margin-top: 170px;
  
  
  font: Arial, helvetica, sans-serif;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: 50px;
  text-align: center;
}
#clock {
  color: #125688;
  line-height: 3em;
}
#zone {
  color: #125688;
  line-height: 3em;
}
.main-header {
  background-color: rgb(255, 255, 255, 0.8);
  width: 60%;
  margin: 2em auto 0 auto;
  min-height: 100px;
  height: 100px;
}
.main-header .logo img {
  width: 100px;
  height: 100px;
  margin: 0 2em 0 0;
  float: left;
}

/* Navigation */
.main-menu {
  /* margin-left: 227px; */
  font-weight: 400;
  padding: 0;
}
.main-menu ul li {
  list-style-type: none;
  display: inline-block;
  float: left;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-left: 1px solid rgba(202, 204, 202, 0.6);
  line-height: 84px;
  text-transform: uppercase;
  font-size: 1em;
}
.main-menu ul li a {
  text-decoration: none;
  color: #888;
}
.main-menu ul li a:hover {
  color: #9ed034;
}
.main-menu ul li.active {
  background: #9ed034;
  border: none;
}
.main-menu ul li.active a {
  color: #fff;
}
.main-content h2 {
  font: arial, helvetica, sans-serif;
  color: #9ed034;
  margin-top: 30px;
  padding-top: 60px;
  
  
}
/*spacimg between image and main content*/
.main-content h1 {
  font: arial, helvetica, sans-serif;
  color: #9ed034;
  margin-top: 2em;
}
.selectmenu {
  margin-top: 15px;
}
.selectmenu::first-letter {
  text-transform: uppercase;
}
.selectmenu select {
  width: 150px;
}
/*xomment text area*/
textarea {
  width: 500px;
  height: 150px;
  resize: both;
  overflow: auto;
}
.drop-down {
  display: inline;
  width: 50%;
  margin-left: 10px;
  
}
/* Main */
main {
  padding: 3em 6em 3em 5.5em;
  margin: 2em 0;
  font-family: Arial, Helvetica, sans-serif;
  
}
main h1 {
  font-size: 2.5em;
  padding-bottom: 0.5em;
  color: #9ed034;
}
main h2 {
  font-size: 1.7em;
  text-align: center;
  padding: 0.5em;
}

.cards {
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
}

.card {
  padding: 2em;
  border: #888 solid 0.1em;
}
#gallery {
  margin-top: 50px;
  margin-bottom: 50px;
}
.cliffcol {
  margin-right: 0px;
  
}
.cliffcol h3 {
  background-color: #852b1b;
  width: 100%;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
  
  
}
.cliffcol img {
  margin-bottom: 25px;
}
caption {
  background: #852b1b;
  height: 70px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
 
}
table {
  width: 1000px;
  margin: 4em auto 4em auto;
  
}

/*table head*/
thead {
  background: #55acee;
  text-align: center;

}
tbody {
  background: rgb(206, 243, 206);
  text-align: center;
}
th,
td {
  width: 225px;
  height: 75px;
  vertical-align: middle;
  border: solid 1px #850b1b;
}
th:first-child {
  width: 125px;
  height: 50px;
  background: #55acee;
  color: #fff;
}
td:first-child {
  font-weight: bold;
  background: #bde1ff;
}
form {
  margin: 10px;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  
}
form fieldset {
  border: 2px solid #9ed034;
}
legend {
  color: #4977d1;
  font-weight: bold;
}
span:first-child {
  font-weight: bold;
}
/*capitalization of the fist letter */
label::first-letter {
  text-transform: uppercase;
}
form .button {
  padding: 0 450px 15px;
}
input[type="submit"] {
  display: block;
  margin: 20px 0 10px 0;
  width: 120px;
  /*background-color: #4977d1;*/
  color: #fff;
  height: 30px;
}
.contactinfo {
  margin-left: 80px;

  margin-top: 30px;
}
.randomcode {
  
  display: inline-block;
  margin-left:200px;
  margin-right: 100px;
  padding-top: 20px;
}
.randomcode input {
  margin-right: 20px;
  
  width: 100px; 
  margin-left: 150px;
  height: 25px;
   
}
#codes {
  
  display:inline;
  background-color: rgb(158, 158, 158);
  padding: 10px 10px 10px 10px;
  
}
.highlight {
    background: rgb(80, 202, 117);
    color: #fff;
}
#activities main  #displaySelected {
  visibility: hidden;
  margin:0 auto;
  width:600px;
  border: 2px solid #9ed034;
  padding: 0.75em;
}
#activities main #displaySelected #result, #activities main #displaySelected #sendinfo {
  display:inline-block;
  margin:0;
}
#activities main #result {
  min-height: 50px;
  width: 300px;
  padding:0;
}
#activities main #result h4 {
  margin-bottom: 1em;
  font-size:1.15em;
}
#activities main #displaySelected #sendinfo input[type="email"] {
  width: 200px;
}
.rowform {
  padding: 40px;
}

/* Partners */
section {
  width: 100%;
  background-color: #4288c3;
}
section #partners {
  width: 100%;
  padding: 2em 0 2em 0;
  /* padding: 2em 2em 2em 2em; */
  margin: 0 auto;
  text-align: center;
}
section #partners .partner {
  display: inline-block;
  /* margin: 0 0.75em; */
  margin: 0 1em 1em 2em;
  /* padding: 1.3em 1.5em; */
  padding: 1.5em 1.5em;
  background-color: #fff;
  border-radius: 50%;
}
section #partners .partner img {
  width: 90px;
  height: 90px;
}
/* 
section .cards {
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
} */

/* Footer */
footer {
  width: 100%;
  height: 155px;
  padding-bottom: 1em;
  background-color: #ecfab8;
}
footer #nondisclaimer .copy {
  padding: 3.5em 3.5em 3.5em 13em;
  float: left;
  font-size: 0.9em;
}
footer #nondisclaimer .social {
  padding: 2.5em;
  margin-right: 9.25em;
  float: right;
}
footer #disclaimer {
  clear: both;
}

footer #disclaimer p {
  font-size: 0.85em;
  text-align: center;
}
footer #nondisclaimer .social .fa {
  padding: 15px;
  font-size: 15px;
  width: 3em;
  height: 3em;
  text-align: center;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
  opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
  background: #3b5998;
  color: white;
}

footer #nondisclaimer .social .fa-twitter {
  background: #55acee;
  color: white;
}

footer #nondisclaimer .social .fa-instagram {
  background: #125688;
  color: white;
}

/* Home */

/* ACTIVATE BELOW WHEN TESTING NAVIGATION AND OTHERS FOR RWD */

/* Media Queries */
@media (max-width: 768px) {
  footer #nondisclaimer .copy {
    padding: 3.5em 0em 3.5em 0em;
    text-align: center;
    float: none;
    font-size: 0.9em;
  }
  footer #nondisclaimer .social {
    padding: 2.5em 0;
    margin: 0;
    text-align: center;
    float: none;
  }
}

@media (min-width: 992px) {
  section #partners .partner {
    display: inline-block;
    /* margin: 0 0.75em; */
    margin: 0 auto;
    padding: 1.5em 1.5em;
    background-color: #fff;
    border-radius: 50%;
  }
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  #navbarContent {
    padding-top: 0.2em;
    z-index: 2;
  }

  .navbar-nav {
    background-color: #fff;
    float: right;
    width: 60%;
  }
}

/* @media (max-width: 992px) {
  .logo img {
    position: relative;
    bottom: 8px;
  }
  .main-menu {
    margin-top: 8%;
  }
  .main-header {
    position: relative;
  }
  .main-menu ul li {
    border-bottom: 1px solid rgba(202, 204, 202, 0.6);
  }
  main {
    padding: 3em 1em 3em 1em;
    margin: 0;
  }
  #home .main-col-content {
    padding: 25px;
    min-height: 450px;
    margin-top: 1em;
  }
} */
.email {
  margin-left: 10px;
  margin-right: 10px;
}
.phone {
  margin-left: 10px;
  margin-right: 10px;
}
.inquire {
  Margin-left:550px;
  margin-top: 30px;
}
